.single-slider-card {
    overflow-y: hidden;
  }
  
  .single-slider-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: opacity 0.35s ease-in-out;
    opacity: 0;
  }
  
  .single-slider-overlay-top {
    transform: translateY(-100%);
    transition: transform 0.35s ease-in-out;
  }
  
  .single-slider-overlay-bottom {
    transform: translateY(100%);
    transition: transform 0.35s ease-in-out;
  }
  
  .single-slider-card:hover .single-slider-overlay {
    opacity: 1;
  }
  
  .single-slider-card:hover .single-slider-overlay-top,
  .single-slider-card:hover .single-slider-overlay-bottom {
    transform: translateY(0);
  }
  